.content-box {
    background-color: lightgrey;
    display: inline-block;
    border-radius: 15px;
    border-width: 4px;
    width: auto;
    padding: 20px;
    grid-template-rows: 50% 50%;
    gap: 20px;
    margin: 10px;
}

.content-box a {
    border-radius: 10px;
    border-width: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: none;
    font-size: 30px;
    padding: 10px;

}

.text-box .content-line{
    position: relative;
    margin: auto;
    width: 50%;
    border-radius: 15px;

}

.content-line {
    border: 4px solid black;
    position: relative;
    margin: auto;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.text-box{
    padding: 5px;
    font-size: 30px;
}
