.container {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    display: grid;
    grid-template-rows: 150px 2fr 1fr;
    box-sizing: border-box;
}

.main-header,
.content-larger,
.footer {
    padding: 10px;
    text-align: center;
}

.main-header {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    background-color: #237dc7;
    color: white;
    position: relative;

}

.main-header button {
    background-color: White;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    font-size: 50px;
    border-radius: 10px;
    border-width: 4px;
    width: 50%;
    height: 80%;
    position: relative;
    margin: auto;
    
}

.main-header button:hover {
    background-color: rgb(105, 104, 104);
    color: white;
}

.content-larger {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    height: 80dvh;
}

.top-line {
    position: absolute;
    margin: auto;
    left: 0px;
}

.btm-line {
    position: absolute;
    margin-top: 0;
}

