body {
    background-color: #fdfaf6;
    color: #090502;
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
}

.div-container {
    position: relative;
    margin: auto;
    left: 0;
    text-align: center;
    width: 100%;
    height: 80vh;
}

.header {
    background-color: #237dc7;
    color: white;
    padding: 20px;
}

.header h1 {
    font-size: 60px;
}

.header h3 {
    font-size: 30px;
}


.line {
    position: absolute;
    margin: auto;
    left: 0px;
    border: 4px solid black;
    width: 99.6%;
}

.footer {
    position: fixed;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;

}

.in-footer {
    background-color: #237dc7;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}