/*   css fil til sign in page       */
.form-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-up-div,
.sign-up-div {
    position: relative;
    text-align: center;
    margin: auto;
    height: 50dvh;
    width: 100%;
    margin-top: 50px;
}

/*      form style                    */
.title {
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
}


.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    background: none;
    margin-bottom: 20px;
}

.sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.username,
.password,
.email {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0, 2);
    padding: 10px;
    margin: 10px 0;
}


.btn button {
    background-color: #237dc7;
    color: white;
    border: none;
    padding: 16px 100px;
    text-align: center;
    font-size: 30px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border-width: 4px;
}


.btn button:hover {
    background-color: #062946;
    color: #fdfaf6;
}